@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

p {
    white-space: pre-wrap;   
}

@media screen and (max-width: 790px) {
    .body-container {
        margin: 16vw auto 0;
        padding: 0;
        width: 95%;
    }

    .bold {
        font-weight: bold;
    }

    .link-btn {
        color: black;
        padding: 2vw 3vw;
        margin: 0;
        text-align: center;
        border: 1px solid gray;
        border-radius: 3px;
        text-decoration: none;
        &:hover {
            background-color: #EEE;
        }
    }

    button {
        padding: 2vw 3vw;
        border-radius: 2px;
        border: 1px solid gray;
        background-color: white;
        margin-bottom: 1vw;
        width: 100%;
    }
}

@media screen and (min-width: 791px) {
    .body-container {
        margin: 100px auto 0;
        padding: 0;
        width: 95%;
        max-width: 800px;
    }

    .bold {
        font-weight: bold;
    }

    .link-btn {
        color: black;
        padding: 15px 30px;
        margin: 0;
        text-align: center;
        border: 1px solid gray;
        border-radius: 3px;
        text-decoration: none;
        &:hover {
            background-color: #EEE;
        }
    }
}